:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao: #ff00ff;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Martel';
    --botao-azul-efeito: #3c92fa;
  }
  
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
  }

  .principal {
    background-image: url("https://i.pinimg.com/originals/0e/b1/56/0eb15636563ecc2920056a5dd6e496c5.gif");
    background-repeat: no-repeat;
    background-size:auto;
    align-items: center;  
    text-align: center;
  }

  .container__titulo {
    font-size: 28px;
    font-weight: 700;
    font-weight: bold;
  }