:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao: #ff00ff;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Martel';
    --botao-azul-efeito: #3c92fa;
  }
  
.container {
    height: 100vh;
    grid-template-columns: 50% 50%;
  }

  body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
  }

  .principal {
    background-image: url("https://www.freecodecamp.org/news/content/images/2022/09/jonatan-pie-3l3RwQdHRHg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;  
    text-align: center;
  }