:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao: #ff00ff;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Martel';
    --botao-azul-efeito: #3c92fa;
  }
  
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
  }